---
import type { GetStaticPaths } from 'astro'
import { getCollection } from 'astro:content';
import BaseLayout from '../../layouts/BaseLayout.astro';

export const getStaticPaths = (async () => {
  const courses = await getCollection('courses')
  return courses.map(course => {
    return {
      params: { slug: course.slug },
      props: { course }
    }
  })
}) satisfies GetStaticPaths

const { course } = Astro.props
const { Content } = await course.render()
---

<BaseLayout>
  <h1 class="text-2xl font-bold mb-6">{course.data.title}</h1>
  <main class="prose max-w-none">
    <Content></Content>
  </main>
</BaseLayout>
